@import url('https://fonts.googleapis.com/css2? family= Oleo+Script:wght@700 & family= Pacifico & display=swap');

/*nav*/
header{
background: rgb(24,78,104);
background: linear-gradient(90deg, rgba(24,78,104,0.9444152661064426) 0%, rgba(87,202,133,1) 100%);
}
.tit{
  color: #ddead1;
  width: 55rem;
  font-size: 2rem;
}
#links {
  color: #4b6043;
  font-size: 1.6rem;
  font-style: italic;
}
/*nav*/
/*login*/
.modal-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5000;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 50px rgba(0.5, 0.5, 0.5, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.modal-container.mostrar{
  display: flex;
}
.acessar{
   background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #0f291e;
}
.btn-entrar {
  display: inline-block;
  padding: 30px 60 px;
  text-transform: uppercase;
  background: #0f291e;
  border-radius: 5px;
  color:burlywood ;
  transition: background 500ms ease;
}
.fechar {
  width: 3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
/*login*/

/*Manaus*/
.manaus{
    padding: 40px;
}
.clearfix{
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: auto; 
    padding: 25px;
    grid-gap: 5px;
  }
.clearfix img{
    width: 300px;
  height: 250px;
}
.clearfix, #text{
    font-size: 1.4rem;
}
/*Manaus*/

/*rodape*/
footer {
  display: grid;
  color: #ddead1;
  background-color: #4b6043;
  text-align: center;
}
  /*rodape*/

  @media( max-width:900px){
    #maior{
      display: none;
    }#menor {
      display: flex;
      justify-content: center;
    }h1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
  }
  
    .clearfix{
      display: inline;
      justify-content: center;
     
    }
  }