@import url('https://fonts.googleapis.com/css2? family= Oleo+Script:wght@700 & family= Pacifico & display=swap');
:root {
  --background-color-1: #00004d;
  --background-color-2: #102404;
  --background-color-3: #f6f8f5;
  --background-color-4: #00004d94;
}
h2,
h5,
p {
  color: var(--background-color-1);
}
a {
  cursor: pointer;
}
/*Cabeçanho*/
.prin {
  background: url(z.fundao.jpg) no-repeat center center/cover;
  color: #eee;
  background-color: rgba(54, 53, 53, 0.301);
  background-blend-mode: color;
}
header {
  background: url(zfundo.jpg) no-repeat center center/cover;
  height: 30rem;
}
h1 {
  display: flex;
  justify-content: flex-start;
  font-family: 'Oleo Script', 'Pacifico', cursiva;
  font-size: 8rem;
  text-align: center;
  margin: 0% 0% 0% 10%;
  color: #0f0f5ad0;
}
#links {
  color: var(--background-color-1);
  font-size: 1.6rem;
  font-style: negrito, italic, cursiva;
}
.btn {
  background-color: var(--background-color-4);
}
/*login*/
.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5000;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 50px rgba(0.5, 0.5, 0.5, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.modal-container.mostrar {
  display: flex;
}
.acessar {
  background: var(--background-color-3);
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid var(--background-color-1);
}
.fechar {
  width: 3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  right: 20px;
  color: var(--background-color-1);
  cursor: pointer;
}
/*login*/
/*Cabeçanho*/

/*Conteudo*/
.escolher {
  padding: 70px;
}
.pro {
  color: red;
}
#destino {
}
/*Conteudo*/

/*Rodape*/
footer {
  display: grid;
  color: var(--background-color-3);
  background-color: var(--background-color-2);
  text-align: center;
}
/*Rodape*/
