/*Cabeçanho*/
@import url('https://fonts.googleapis.com/css2? family= Oleo+Script:wght@700 & family= Pacifico & display=swap');
:root {
  --background-color-1: #104f17;
  --background-color-2: #4b872b;
  --background-color-3: #49bf52;
}
/*nav*/
header {
  background: url(zfundo.jpg) no-repeat center center/cover;
  height: 51rem;
}
h1 {
  display: flex;
  justify-content: flex-end;
  font-family: 'Oleo Script', 'Pacifico', cursiva;
  text-align: center;
  margin: 8rem;
  font-size: 8rem;
  color: var(--background-color-1);
}
h1:hover {
  color: #a70707;
}
#links {
  color: var(--background-color-1);
  font-size: 1.6rem;
  font-style: italic cursiva;
}
/*nav*/

/*dest*/
.destino {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  text-align: center;
  grid-gap: 15px;
  font-size: 20px;
}
.dest {
  background-color: var(--background-color-2);
  width: 23rem;
}
#escolhas {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  grid-gap: 5px;
}
.button {
  background: var(--background-color-2);
  font-size: 20px;
  border: none;
}
/*dest*/

/*login*/
.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5000;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 50px rgba(0.5, 0.5, 0.5, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.modal-container.mostrar {
  display: flex;
}

.acessar {
  background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #0f291e;
}

.btn-entrar {
  display: inline-block;
  padding: 30px 60 px;
  text-transform: uppercase;
  background: #0f291e;
  border-radius: 5px;
  color: burlywood;
  transition: background 500ms ease;
}

.fechar {
  width: 3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
/*login*/

/*Cabeçanho*/

/*promoçoes*/
main {
  padding: 10rem;
}

main,
h3 {
  text-align: center;
  color: #658354;
}

#promo {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 35px;
}

.card-promo {
  font-size: 1.2rem;
}

.btn-promo {
  background-color: white;
  border: none;
  color: #4b6043;
}
/*promoçoes*/

/*amazonia*/
.am-ver {
  background: url(rainforest-78516_1920.jpg) no-repeat center center/cover;
  height: 40rem;
  display: flex;
}

.ama {
  width: 50%;
  margin: auto;
  padding: 45px;
  box-shadow: 30px 30px 60px rgba(0.5, 0.5, 0.5, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.titulo {
  text-align: center;
  font-size: 2.5rem;
  color: #ddead1;
  font-family: 'Pacifico', cursiva;
}

.ama > p {
  color: #ddead1;
  font-size: 1.1rem;
  font-style: oblique;
}

.btn-art {
  width: 12rem;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 3px;
  background: #4b6043;
  transition: background 500ms ease;
  text-align: center;
}
.am-resp {
  display: none;
}
/*amazonia*/

/*manaus*/
.ma-ver {
  background: url(zmanaus.jpg) no-repeat center center/cover;
  height: 40rem;
  display: flex;
}

.ma-resp {
  display: none;
}

.man {
  width: 50%;
  margin: auto;
  padding: 45px;
  box-shadow: 30px 30px 60px rgba(0.5, 0.5, 0.5, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.titulo-ma {
  text-align: center;
  font-size: 2.5rem;
  color: #0f291e;
  font-family: 'Pacifico', 'cursiva';
}

.man-ver > p {
  color: #0f291e;
  font-size: 1.1rem;
  font-style: oblique;
}

/*manaus*/

/*Fotos*/
figure {
  padding: 45px;
}

#fotos-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  text-align: center;
}

#fotos {
  grid-gap: 30px;
}

.fotos-image {
  justify-items: center;
  justify-content: center;
  padding: 1rem;
  width: 20rem;
  height: 15rem;
}
/*Fotos*/

/*Rodape*/
footer {
  display: grid;
  color: #ddead1;
  background-color: #4b6043;
  text-align: center;
}
/*Rodape*/

@media (max-width: 500px) {
  .tit {
    color: #ddead1;
    width: 8rem;
  }

  h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
  }

  #pr {
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  #promo {
    cursor: pointer;
    display: inline;
    justify-content: center;
    align-items: center;
  }
  .am-ver {
    display: none;
  }
  .am-resp {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  h3 {
    text-align: center;
    font-size: 2rem;
    color: #0f291e;
  }
  .am-resp > p {
    color: #2f5233;
    font-size: 1rem;
    font-style: oblique;
    text-align: l;
  }
  .img-resp {
    width: 20rem;
  }
  .ma-ver {
    display: none;
  }
  .fts-am {
    display: none;
  }
  .ma-resp {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .h-ma {
    text-align: center;
    font-size: 1.5rem;
    color: #0f291e;
  }
  .ma-resp > p {
    color: #2f5233;
    font-size: 1rem;
    font-style: oblique;
    text-align: left;
  }
  .img-ma {
    width: 20rem;
  }
}
