@import url('https://fonts.googleapis.com/css2? family= Oleo+Script:wght@700 & family= Pacifico & display=swap');
:root {
  --background-color-1: #00004d;
  --background-color-2: #102404;
  --background-color-3: #f6f8f5;
}
h2 {
  color: var(--background-color-2);
  text-align: center;
}
h3,
h4,
h5 {
  color: var(--background-color-2);
}
/*Cabeçanho*/
.prin {
  background: url(z.fundao.jpg) no-repeat center center/cover;
  color: #eee;
  background-color: rgba(54, 53, 53, 0.301);
  background-blend-mode: color;
}
header {
  background: url(zfundo.jpg) no-repeat center center/cover;
  height: 30rem;
}
h1 {
  display: flex;
  justify-content: flex-start;
  font-family: 'Oleo Script', 'Pacifico', cursiva;
  font-size: 8rem;
  text-align: center;
  margin: 0% 0% 0% 10%;
  color: #0f0f5ad0;
}
#links {
  color: var(--background-color-1);
  font-size: 1.6rem;
  font-style: negrito, italic, cursiva;
}
.button {
  background: var(--background-color-2);
  font-size: 20px;
  border: none;
}
/*login*/
.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5000;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 50px rgba(0.5, 0.5, 0.5, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.modal-container.mostrar {
  display: flex;
}
.acessar {
  background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #0f291e;
}
.btn-entrar {
  display: inline-block;
  padding: 30px 60 px;
  text-transform: uppercase;
  background: #0f291e;
  border-radius: 5px;
  color: burlywood;
  transition: background 500ms ease;
}
.fechar {
  width: 3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
/*login*/
/*Cabeçanho*/

/*promoçoes*/
.promocoes {
  padding: 25px;
}
#promo {
  display: flex;
  justify-content: center;
}
.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 45px;
  text-align: center;
  cursor: pointer;
}
.card-pro {
  width: 22rem;
  height: 14rem;
  background: var(--background-color-3);
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  color: var(--background-color-2);
}
.img-card {
  width: 22rem;
  height: 10rem;
  border-top-right-radius: 35px;
}
/*promoçoes*/

/*manaus*/
.sidebar {
  display: flex;
  grid-gap: 10px;
}
.sidebar__sidebar {
  width: 30%;
}
.sidebar__main {
  /* Take the remaining width */
  flex: 1;
  padding: 10px;
  /* Make it scrollable */
  overflow: auto;
}
.Manaus {
  border: solid var(--background-color-3);
}
.capital {
  margin: 0% 2% 0% 2%;
}
.card-ma {
  width: 100%;
  height: 10rem;
  font-size: 20px;
  color: var(--background-color-2);
}
.img-ma {
  width: 22rem;
  height: 10rem;
}
.img-anuncio {
  padding: 10px;
  width: 29.5rem;
  cursor: pointer;
}
/*manaus*/

/*Rodape*/
footer {
  display: grid;
  color: var(--background-color-3);
  background-color: var(--background-color-2);
  text-align: center;
}
/*Rodape*/

@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
  }

  #promo {
    cursor: pointer;
    display: inline;
    justify-content: center;
    align-items: center;
  }

  .sidebar__main {
    /* Take the remaining width */
    flex: 1;
    padding: 10px;
    /* Make it scrollable */
    overflow: auto;
    height: 34rem;
  }
  .Manaus {
    border: solid var(--background-color-3);
  }
  h2 {
    font-size: 22px;
  }
  .card-ma {
    width: 100%;
    height: 29rem;
    font-size: 15px;
    color: var(--background-color-2);
  }
  .img-ma {
    width: 13.5rem;
    height: 10rem;
  }
  .img-anuncio {
    width: 7rem;
    height: 34rem;
    cursor: pointer;
  }
}
